$color: #918498;

h3{
  color: $color;
}

.hotdogs{
  border: 2px solid green;
}

.card-two{
  // -ms-transform: rotate(90deg); /* IE 9 */
  //  -webkit-transform: rotate(90deg); /* Safari */
  //  transform-origin: bottom right;
  width: 188px;
  max-width: 100%;

}



.card{
  border: 2px solid lighten($color, 2%);
  background-color: lighten($color, 38%);

  width: 140px;
  height: 68px;
  margin: 22px;
  text-align: center;

  p{
    margin-top: 16px;
    letter-spacing: .22em;
    font-size: 1.8em;

  }
}
