h3 {
  color: #918498; }

.hotdogs {
  border: 2px solid green; }

.card-two {
  width: 188px;
  max-width: 100%; }

.card {
  border: 2px solid #968a9d;
  background-color: #efedf0;
  width: 140px;
  height: 68px;
  margin: 22px;
  text-align: center; }
  .card p {
    margin-top: 16px;
    letter-spacing: .22em;
    font-size: 1.8em; }
